.ctx-gdpr-modal {
	&-checkbox {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&-link {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&-button {
		padding: 10px 20px;
		background-color: var(
			--wp-components-color-accent,
			var(--wp-admin-theme-color, #3858e9)
		);
		color: #fff;
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
	}
}
